RewriteEngine On
RewriteBase /DELOX/

# Якщо запит йде до самої кореневої папки, одразу перенаправляємо в public/
RewriteRule ^$ public/index.php [L]

# Для всіх інших запитів: якщо це НЕ реальний файл, шлемо в public/index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ public/index.php [QSA,L]